@import "tailwindcss";
@import "tw-animate-css";
@plugin "daisyui";

.bg{
  background-color: #B2B0E8;
}

.btn-primary{
  background-color: #1A2A80;
}
.btn-secondary{
  background-color: #3B38A0;
}

.hover-color{
  background-color: #7A85C1;
}

.card-color{
  background-color:#7A85C1;
}